<!--Top Navigation-->
<div id="topnav">
	<a routerLink="/home">Home</a>
	<a routerLink="/group">Housing Group Management</a>
	<a routerLink="/housing">Housing Wish List Management</a>
	<a routerLink="#">Live Draw</a>
	<a routerLink="/documents">Documents Page</a>
	<a routerLink="/faqs">FAQs</a>
	<!-- Should log out link be href, not routerlink? Gut feeling is no -->
	<a routerLink="#">Log Out</a>
	<span>
		<img id="profile-pic" src="/assets/default_profile_pic.png">
		<span *ngIf="invitations.length" class="circle">!</span>
	</span>
</div>
