<title>Room Draw 2020 - Docukments Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="header"> <!--Header-->
	<h2>Benedictine College Room Draw 2020</h2>
</div>

<app-nav-bar></app-nav-bar>

<!--Main Content-->
<div class="row">
<!--Your Information
	NEEDS TO INCLUDE:
	Student Name
	Random #
	Group Members?
	Names of wishlists?-->
	<div class="column" style="background-color:#aaa;">
		<div class = "faq-question-box">
			<h3><strong>Question 1</strong></h3>
			<p>The answer to question 1 will go here.</p>
		</div>
		<div class = "faq-question-box">
			<h3><strong>Question 2</strong></h3>
			<p>The answer to question 2 will go here.</p>
        </div>
        <div class = "faq-question-box">
			<h3><strong>Question 3</strong></h3>
			<p>The answer to question 3 will go here.</p>
		</div>
	</div>
</div>

<div class="footer">
	<p>Footer</p>
</div>