<title>Room Draw 2020 - Documents Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="header"> <!--Header-->
	<h2>Benedictine College Room Draw 2020</h2>
</div>

<app-nav-bar></app-nav-bar>

<!--Main Content-->
<div class="row">
<!--Your Information
	NEEDS TO INCLUDE:
	Student Name
	Random #
	Group Members?
	Names of wishlists?-->
	<div class="column" style="background-color:#aaa;">
		<div class = "document-box">
			<h3><strong>Document 1 Link</strong></h3>
			<p>The description of document 1 will go here.</p>
		</div>
		<div class = "document-box">
			<h3><strong>Document 2 Link</strong></h3>
			<p>The description of document 2 will go here.</p>
		</div>
		<div class = "document-box">
			<h3><strong>Document 2 Link</strong></h3>
			<p>The description of document 2 will go here.</p>
		</div>
	</div>
</div>

<div class="footer">
	<p>Footer</p>
</div>
