<div id="home">
	<div id="header"> <!--Header-->
		<h2>Benedictine College Room Draw 2019</h2>
	</div>

	<app-nav-bar></app-nav-bar>

	<!--Main Content-->
	<div class="row">
		<div class="column" style="background-color:#aaa;"><h2>Your Information</h2>
			<h3>Student: {{myInfo.first_name}} {{myInfo.last_name}}</h3>
			<h3>Your Random Number: {{myInfo.random_number}}</h3>
			<!--<h3>Groups Ahead of You: {{rank}}</h3>-->
		</div>
		<!--Room Draw Status Update includes Progress Bar NEEDS TO BE LINKED TO DB includes Checklist NEEDS TO BE LINKED TO DB-->
		<div class="column"><h2>Room Draw Status</h2>
			<h3>Checklist:</h3>
			<p>Create or Join a Housing Group</p>
			<p>Complete a Housing Wish List</p>
			<p>Complete and Turn in Documents</p>
		</div>
	</div>
</div>
