/*Style for Room Draw Home by Eli Pruneda 3/20/2019
Going for a header, columns, and a footer.. */

* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
#header {
	background-color: #f1f1f1;
	padding: 30px;
	text-align: center;
	font-size: 35px;
}

/* Create three equal columns that floats next to each other */
.column {
	float: left;
	width: 50%;
	padding: 10px;
	height: 400px; /* Should be removed. Only for demonstration */
	background-color: #bbb;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
