<!-- Room Draw Project
	12/1/2018
	Denton Lunsford
	GroupPage.html v.1
	v.2 notes by Eli Pruneda:
	Removed cheesy line from headers, changed language in Add New Student button, sepparated html and css files.-->
	<!Doctype html>
	<div class= "content">
		<h1>Housing Group - insert basic instructions</h1>
		<div class="btn-group">
			<button>Add New Group Member</button>
		</div>
		<!-- Group Information -->
		<table style="width:100%">
			<tr>
				<th>Name</th>
				<th>Class Code</th>
				<th>Random Number</th>
				<th>Student ID</th>
			</tr>
			<tr *ngFor="let student of members">
				<td>{{student.first_name}} {{student.last_name}}</td>
				<td>{{student.grade_level}}</td>
				<td>{{student.random_number}}</td>
				<td>{{student.student_id}}</td>
			</tr>
		</table>
		<div class="btn-group">
			<button>Save</button>
		</div>
		<div class="btn-group2">
			<button>Leave Group</button>
		</div>
	</div>
